# R and Rstudio 
.Rproj.user/*
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rproj.user

# all zip files
**.zip

# all census
data/census/**

# SQL
data/*.sqlite
data/sql/**

# assembled
data/aggr/*.txt
data/trans/*.txt
data/discl/*.txt

# temp
docs/**
